@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  caret-color: transparent;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 0.1em 0.5em;
  font-size: clamp(10px, 2vw, 16px);
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
#task-input {
  caret-color: auto;
}

.task-ndone {
  font-size: clamp(12px, 2vw, 16px);
}
.task-done {
  text-decoration: line-through;
  font-size: clamp(12px, 2vw, 16px);
}
.task-tabs div {
  cursor: pointer;
}

#prioritySelect,
.priorityLabel,
#cycleSelect,
.cycleLabel,
.priority-area,
.cycle-area {
  font-size: clamp(10px, 1.8vw, 12px);
  padding: clamp(3px, 1vw, 6px);
}
.pc-box {
  border-bottom: 0.5px dotted gray;
  border-top: 1px solid gray;
}

.input-area {
  font-size: clamp(10px, 2vw, 16px);
}
input[type="date"]::-webkit-datetime-edit {
  font-size: clamp(8px, 2vw, 10px);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
